# description de la configuration
# no service ... 		inhibe le service
# service <nom du service>      demarre le service avec le parametre "start"
#   <variable> <valeur>		assigne une valeur
#   <variable>			positionne la variable
#   no <variable>		désactive la variable
#   install			cree l'environnement de travail du service
#   disable			inhibe le "start", mais pas l'install

section system
   hostname formilux
   sysctl kernel.panic=30
   sysctl kernel.ctrl-alt-del=0
   sysctl net.ipv4.conf.default.accept_redirects=0
   sysctl net.ipv4.conf.all.accept_redirects=0
   sysctl net.ipv4.conf.default.send_redirects=0
   sysctl net.ipv4.conf.all.send_redirects=0

# ip address <ip/mask> [secondary]	# add an address to this interface
# ip route <ip/mask|default> <gateway>	# define a route
# slave eth0 eth1 eth2 ...		# bind these interfaces
service network eth0
   #modprobe
   #media 100full
   ip address 10.0.0.1/16
   ip address 172.16.0.1/24
   ip address 192.168.0.1/24

no service network bond0
   #modprobe bond0 mode=active-backup
   #slave eth0 eth1
   #ip address 10.0.0.1/16

service syslog-ng

service klogd
   no autostart # launched automatically by syslog-ng

service keyboard
   keymap fr
   keyrate 30
   
service mouse
   type ps2
   device /dev/psaux

no service crond

no service highsock

no service ntp

no service apache

no service sshd
   #config /etc/ssh/sshd_config
   #protocol 2
   #port 22
   #listen 0.0.0.0

no service thttpd
   #port 80
   #docroot /home/www
   #user http

no service pdnsd 

no service echelogd
   #config  /etc/echelog/echelog.conf
   #runas   echelogc:daemon

